<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="resizeMe">Vota la tua estate</div>

                <p class="">
                    Vota la tua estate
                </p>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="chalet">Chalet</a></li>
                    <li class="active">{{element.licenseNumber}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="flexslider">
                    <ul class="slides" ng-if="single.name">
                        <li class="flex-active-slide"
                            style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                            <img ng-src="/photo/{{single.name}}" alt="{{single.name}}"
                                 class="img-responsive border-radius"
                                 draggable="false" ng-click="toggle(single)">
                        </li>
                    </ul>
                    <ul class="slides" ng-if="!single.name">
                        <li class="flex-active-slide" ng-repeat="image in element.images"
                            style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                            <img ng-src="/img/{{image.filename}}" alt="{{element.name}}"
                                 class="img-responsive border-radius"
                                 draggable="false">
                        </li>
                        <li class="flex-active-slide" ng-if="element.images.length==0"
                            style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                            <img ng-src="/img/logo-no-chalet.jpg" alt="{{element.name}}"
                                 class="img-responsive border-radius"
                                 draggable="false">
                        </li>
                    </ul>

                    <ol class="flex-control-nav flex-control-paging">
                        <li ng-repeat="n in [] | range: element.images.length"><a class="flex-active">{{$index+1}}</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="space"></div>
                <h2 class="lighter">{{element.name}}</h2>

                <p class="lead">
                    conc. n. {{element.licenseNumber}} <br/>
                    {{element.address}}<br/>
                    {{element.postalNumber}} - {{element.city}} {{element.province}} <br/>
                </p>

                <p>
                <ul class="list-inline social-links text-center">
                    <li ng-if="element.facebook"><a href="{{element.facebook}}" title="{{element.facebook}}"
                                                    target="_blank"><i class="icon ti-facebook"></i></a></li>
                    <li ng-if="element.website"><a href="{{element.website}}" title="{{element.website}}"
                                                   target="_blank"><i
                            class="icon ti-desktop"></i></a></li>
                    <li ng-if="element.google"><a href="{{element.google}}" title="{{element.google}}"
                                                  target="_blank"><i class="icon ti-google"></i></a></li>

                    <li ng-if="element.tripadvisor"><a href="{{element.tripadvisor}}" title="{{element.tripadvisor}}"
                                                       target="_blank"><i class="icon fa fa-tripadvisor"></i></a></li>
                </ul>
                </p>

                <p class="text-center"><a href="/#!/vota/{{element.licenseNumber}}" title=""
                                          class="btn btn-punch btn-sm btn-black">Vota {{element.licenseNumber}}</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section grey-background active-section">
    <div class="container">
        <div class="row">

            <div class="col-md-3" ng-repeat-start="item in model">
                <div class="team-block">
                    <div class="paper white-background">
                        <a class="team-image text-center" ng-click="toggle(item)">
                            <img ng-src="/photo/{{item.name}}"
                                 alt="{{item.name}}">
                        </a>

                        <div class="text-center">

                            <p class="position"><strong> {{item.accountNameSurnameShort}} </strong></p>
                            {{item.created | date:'dd/MM/yyyy HH:mm'}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-repeat-end ng-show="$index % 4 == 3">
                <div class="space"></div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12" ng-repeat-end ng-show="$index % 4 == 3">
                <div class="space"></div>
            </div>
        </div>
    </div>
</section>

<section class="section grey-background active-section">
    <div class="container">
        <div class="row">

            <div class="col-md-1" ng-hide="currentPage < 3">
                <a ng-click="firstPage()" alt="vai all'inizio" title="vai all'inizio">
                    <i class="icon ti-angle-double-left"></i></a>
            </div>

            <div class="col-md-1" ng-hide="currentPage < 2">
                <a ng-click="goToPage(currentPage-1)" alt="precedente"
                   title="precedente"> <i
                        class="icon ti-angle-left"></i></a>
            </div>

            <div class="col-md-1" ng-repeat="p in subpages track by $index">
                <a ng-click="goToPage(p)" alt="{{p}}"
                   title="{{p}}" ng-disabled="currentPage==p">
                    <i class="icon {{currentPage==p ? 'text-black' : ''}}">
                        {{p}}</i></a>
            </div>

            <div class="col-md-1" ng-show="currentPage < pages.length && pages.length > 0">
                <a
                        ng-click="goToPage(currentPage+1)" alt="successiva"
                        title="successiva"> <i
                        class="icon  ti-angle-right"></i></a>
            </div>

            <div class="col-md-1" ng-show="currentPage < pages.length -1 && pages.length > 0">
                <a ng-disabled="currentPage == pages.length  || pages.length == 0" ng-click="lastPage()"
                   alt="vai alla fine" title="vai alla fine">
                    <i class="icon  ti-angle-double-right"></i></a>
            </div>

        </div>

    </div>
</section>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>
<div tabfooter></div>
