<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style=""><h1>Vota la tua estate</h1>

                <p class="">
                    Vota la tua estate
                </p>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Come si fa</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section blog-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <div class="col-md-12">
                        <h1 class="lighter">Come si fa: facilissimo</h1>

                        <div class="space large"></div>
                    </div>
                    <div class="col-md-2 text-center">
                        <i class="icon large ti-medall"></i>

                        <p class="uppercase-text">1. Scegli il tuo chalet</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <i class="icon large ti-pencil-alt"></i>

                        <p class="uppercase-text">2. Inserisci i tuoi dati</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <i class="icon large ti-check"></i>

                        <p class="uppercase-text">3. Vota... Vota... Vota...</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <i class="icon large ti-mobile"></i>

                        <p class="uppercase-text">4. Chiama</p>
                    </div>
                    <div class="col-md-2 text-center">
                        <i class="icon large ti-cup"></i>

                        <p class="uppercase-text">5. Vinci</p>
                    </div>
                </div>
                <div class="space large"></div>
                <div class="col-md-12">
                    <h4 class="lighter"><i class="ti-info-alt"></i>
                        Scegli il tuo chalet preferito per servizi, cortesia, prezzi o semplicemente per simpatia.
                        Inserisci i tuoi dati e il tuo numero di telefono, poi fai uno squillo al numero indicato.
                    </h4>
                    <h4 class="lighter"><i class="ti-check"></i>
                        <a ui-sref="vota">Puoi esprimere fino a tre preferenze al giorno</a>.
                    </h4>
                    <h4 class="lighter"><i class="ti-list"></i>
                        <a ui-sref="classifica">Ricorda di consultare la classifica!</a>
                    </h4>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1">
                <div class="sidebar">
                    <div class="widget">
                        <h3 class="widget-title">Classifica</h3>
                        <ul class="list-group">
                            <li class="list-group-item"
                                ng-repeat="item in element.chaletRankings | orderBy:'position'"
                                ng-if="$index <5">
                                <span class="label label-info">{{item.position}}</span>
                                <a href="/#/chalet_licenseNumber/{{item.licenseNumber}}">{{item.chaletName}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget">
                        <h3 class="widget-title">Voti</h3>

                        <div class="progress-container clearfix"
                             ng-repeat="item in element.chaletRankings | orderBy:'position'"
                             ng-if="$index <5">
                            <a href="/#/chalet_licenseNumber/{{item.licenseNumber}}"><span
                                    class="progress-text pull-left">{{item.chaletName}}</span></a>
                            <span class="prgress-value pull-right">{{item.votes}}</span>

                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;"></div>
                                <span class="sr-only">{{item.votes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>
<div tabfooter></div>