<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5"
         style="background: url(http://demo.geniuspro.net/material/demo/demo/hero/big1.jpg) 0% 0%;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style=""><h1>Vota la tua estate</h1>

                <p class="">
                    Professionally iterate efficient best practices and cooperative communities
                </p>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Informativa estesa sui Cookie</li>
                    <!--<li class="active">Data</li>-->
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section blog-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <h3>Informativa estesa sui Cookie</h3>

                    I Cookie sono costituiti da porzioni di codice installate all'interno del browser che assistono il Titolare nell’erogazione del servizio in base alle finalità descritte. Alcune delle finalità di installazione dei Cookie potrebbero, inoltre, necessitare del consenso dell'Utente.
<br/>
                    Cookie tecnici e di statistica aggregata
                    Attività strettamente necessarie al funzionamento<br/>
                    Questa Applicazione utilizza Cookie per salvare la sessione dell'Utente e per svolgere altre attività strettamente necessarie al funzionamento dello stesso, ad esempio in relazione alla distribuzione del traffico.
                    <br/>
                    Attività di salvataggio delle preferenze, ottimizzazione e statistica<br/>
                    Questa Applicazione utilizza Cookie per salvare le preferenze di navigazione ed ottimizzare l'esperienza di navigazione dell'Utente. Fra questi Cookie rientrano, ad esempio, quelli per impostare la lingua e la valuta o per la gestione di statistiche da parte del Titolare del sito.
                    <br/>
                    Altre tipologie di Cookie o strumenti terzi che potrebbero farne utilizzo<br/>
                    Alcuni dei servizi elencati di seguito potrebbero non richiedere il consenso dell'Utente o potrebbero essere gestiti direttamente dal Titolare – a seconda di quanto descritto – senza l'ausilio di terzi.
                    <br/>
                    Qualora fra gli strumenti indicati in seguito fossero presenti servizi gestiti da terzi, questi potrebbero – in aggiunta a quanto specificato ed anche all’insaputa del Titolare – compiere attività di tracciamento dell’Utente. Per informazioni dettagliate in merito, si consiglia di consultare le privacy policy dei servizi elencati.
                    <br/>
                    Interazione con social network e piattaforme esterne<br/>
                    Questi servizi permettono di effettuare interazioni con i social network, o con altre piattaforme esterne, direttamente dalle pagine di questa Applicazione.
                    Le interazioni e le informazioni acquisite da questa Applicazione sono in ogni caso soggette alle impostazioni privacy dell’Utente relative ad ogni social network.
                    Nel caso in cui sia installato un servizio di interazione con i social network, è possibile che, anche nel caso gli Utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato.
                    <br/>
                    Pulsante +1 e widget sociali di Google+ (Google Inc.)
                    <br/>
                    Il pulsante +1 e i widget sociali di Google+ sono servizi di interazione con il social network Google+, forniti da Google Inc.
                    <br/>
                    Dati personali raccolti: Cookie e Dati di utilizzo.
                    <br/>
                    Luogo del trattamento : USA – Privacy Policy
                    <br/>
                    Pulsante e widget sociali di Linkedin (LinkedIn Corporation)
                    <br/>
                    Il pulsante e i widget sociali di Linkedin sono servizi di interazione con il social network Linkedin, forniti da LinkedIn Corporation.
                    <br/>
                    Dati personali raccolti: Cookie e Dati di utilizzo.
                    <br/>
                    Luogo del trattamento : USA – Privacy Policy
                    <br/>
                    Pulsante Mi Piace e widget sociali di Facebook (Facebook, Inc.)
                    <br/>
                    Il pulsante “Mi Piace” e i widget sociali di Facebook sono servizi di interazione con il social network Facebook, forniti da Facebook, Inc.
                    <br/>
                    Dati personali raccolti: Cookie e Dati di utilizzo.
                    <br/>
                    Luogo del trattamento : USA – Privacy Policy
                    <br/>
                    Pulsante Tweet e widget sociali di Twitter (Twitter, Inc.)
                    <br/>
                    Il pulsante Tweet e i widget sociali di Twitter sono servizi di interazione con il social network Twitter, forniti da Twitter, Inc.
                    <br/>
                    Dati personali raccolti: Cookie e Dati di utilizzo.
                    <br/>
                    Luogo del trattamento : USA – Privacy Policy
                    <br/>
                    Remarketing e Behavioral Targeting<br/>
                    Questi servizi consentono a questa Applicazione ed ai suoi partner di comunicare, ottimizzare e servire annunci pubblicitari basati sull'utilizzo passato di questa Applicazione da parte dell'Utente.
                    Questa attività viene effettuata tramite il tracciamento dei Dati di Utilizzo e l'uso di Cookie, informazioni che vengono trasferite ai partner a cui l'attività di remarketing e behavioral targeting è collegata.
                    <br/>
                    Facebook Remarketing (Facebook, Inc.)
                    <br/>
                    Facebook Remarketing è un servizio di Remarketing e Behavioral Targeting fornito da Facebook, Inc. che collega l'attività di questa Applicazione con il network di advertising Facebook.
                    <br/>
                    Dati personali raccolti: Cookie e Dati di utilizzo.
                    <br/>
                    Luogo del trattamento : USA – Privacy Policy – Opt Out
                    <br/>
                    Statistica<br/>
                    I servizi contenuti nella presente sezione permettono al Titolare del Trattamento di monitorare e analizzare i dati di traffico e servono a tener traccia del comportamento dell’Utente.
                    <br/>
                    Google Analytics (Google Inc.)<br/>
                    <br/>
                    Google Analytics è un servizio di analisi web fornito da Google Inc. (“Google”). Google utilizza i Dati Personali raccolti allo scopo di tracciare ed esaminare l’utilizzo di questa Applicazione, compilare report e condividerli con gli altri servizi sviluppati da Google.
                    Google potrebbe utilizzare i Dati Personali per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.
                    <br/>
                    Dati personali raccolti: Cookie e Dati di utilizzo.
                    <br/>
                    Luogo del trattamento : USA – Privacy Policy – Opt Out
                    <br/>
                    Visualizzazione di contenuti da piattaforme esterne
                    Questi servizi permettono di visualizzare contenuti ospitati su piattaforme esterne direttamente dalle pagine di questa Applicazione e di interagire con essi.
                    Nel caso in cui sia installato un servizio di questo tipo, è possibile che, anche nel caso gli Utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato.
                    <br/>
                    Widget Video Youtube (Google Inc.)<br/>
                    <br/>
                    Youtube è un servizio di visualizzazione di contenuti video gestito da Google Inc. che permette a questa Applicazione di integrare tali contenuti all’interno delle proprie pagine.
                    <br/>
                    Dati personali raccolti: Cookie e Dati di utilizzo.
                    <br/>
                    <br/>
                    Come posso controllare l'installazione di Cookie?
                    In aggiunta a quanto indicato in questo documento, l'Utente può gestire le preferenze relative ai Cookie direttamente all'interno del proprio browser ed impedire – ad esempio – che terze parti possano installarne. Tramite le preferenze del browser è inoltre possibile eliminare i Cookie installati in passato, incluso il Cookie in cui venga eventualmente salvato il consenso all'installazione di Cookie da parte di questo sito. È importante notare che disabilitando tutti i Cookie, il funzionamento di questo sito potrebbe essere compromesso. L'Utente può trovare informazioni su come gestire i Cookie nel suo browser ai seguenti indirizzi: Google Chrome, Mozilla Firefox, Apple Safari and Microsoft Windows Explorer.
                    <br/>
                    In caso di servizi erogati da terze parti, l'Utente può inoltre esercitare il proprio diritto ad opporsi al tracciamento informandosi tramite la privacy policy della terza parte, tramite il link di opt out se esplicitamente fornito o contattando direttamente la stessa.
                    <br/>
                    Fermo restando quanto precede, il Titolare informa che l’Utente può avvalersi di Your Online Choices. Attraverso tale servizio è possibile gestire le preferenze di tracciamento della maggior parte degli strumenti pubblicitari. Il Titolare, pertanto, consiglia agli Utenti di utilizzare tale risorsa in aggiunta alle informazioni fornite dal presente documento.
                    <br/>
                    Titolare del Trattamento dei Dati<br/>
                    (consulta apposita sezione del sito)<br/>
                    <br/>
                    Dal momento che l'installazione di Cookie e di altri sistemi di tracciamento operata da terze parti tramite i servizi utilizzati all'interno di questa Applicazione non può essere tecnicamente controllata dal Titolare, ogni riferimento specifico a Cookie e sistemi di tracciamento installati da terze parti è da considerarsi indicativo. Per ottenere informazioni complete, consulta la privacy policy degli eventuali servizi terzi elencati in questo documento.
                    <br/>
                    Vista l'oggettiva complessità legata all'identificazione delle tecnologie basate sui Cookie ed alla loro integrazione molto stretta con il funzionamento del web, l'Utente è invitato a contattare il Titolare qualora volesse ricevere qualunque approfondimento relativo all'utilizzo dei Cookie stessi e ad eventuali utilizzi degli stessi – ad esempio ad opera di terzi – effettuati tramite questo sito.
                    <br/>
                    Definizioni e riferimenti legali<br/>
                    Dati Personali (o Dati)<br/>
                    <br/>
                    Costituisce dato personale qualunque informazione relativa a persona fisica, identificata o identificabile, anche indirettamente, mediante riferimento a qualsiasi altra informazione, ivi compreso un numero di identificazione personale.
                    <br/>
                    Dati di Utilizzo<br/>
                    <br/>
                    Sono i dati personali raccolti in maniera automatica dall’Applicazione (o dalle applicazioni di parti terze che la stessa utilizza), tra i quali: gli indirizzi IP o i nomi a dominio dei computer utilizzati dall’Utente che si connette all’Applicazione, gli indirizzi in notazione URI (Uniform Resource Identifier), l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta dal server (buon fine, errore, ecc.) il Paese di provenienza, le caratteristiche del browser e del sistema operativo utilizzati dal visitatore, le varie connotazioni temporali della visita (ad esempio il tempo di permanenza su ciascuna pagina) e i dettagli relativi all’itinerario seguito all’interno dell’Applicazione, con particolare riferimento alla sequenza delle pagine consultate, ai parametri relativi al sistema operativo e all’ambiente informatico dell’Utente.
                    <br/>
                    Utente<br/>
                    <br/>
                    L'individuo che utilizza questa Applicazione, che deve coincidere con l'Interessato o essere da questo autorizzato ed i cui Dati Personali sono oggetto del trattamento.
                    <br/>
                    Interessato
                    <br/>
                    La persona fisica o giuridica cui si riferiscono i Dati Personali.<br/>
                    <br/>
                    Responsabile del Trattamento (o Responsabile)<br/>
                    <br/>
                    La persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo preposti dal Titolare al trattamento dei Dati Personali, secondo quanto predisposto dalla presente privacy policy.
                    <br/>
                    Titolare del Trattamento (o Titolare)<br/>
                    <br/>
                    La persona fisica, giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo cui competono, anche unitamente ad altro titolare, le decisioni in ordine alle finalità, alle modalità del trattamento di dati personali ed agli strumenti utilizzati, ivi compreso il profilo della sicurezza, in relazione al funzionamento e alla fruizione di questa Applicazione. Il Titolare del Trattamento, salvo quanto diversamente specificato, è il proprietario di questa Applicazione.
                    <br/>
                    Questa Applicazione<br/>
                    <br/>
                    Lo strumento hardware o software mediante il quale sono raccolti i Dati Personali degli Utenti.<br/>
                    <br/>
                    Cookie<br/>
                    <br/>
                    Piccola porzione di dati conservata all'interno del dispositivo dell'Utente.<br/>
                    <br/>
                    Riferimenti legali<br/>
                    <br/>
                    Avviso agli Utenti europei: la presente informativa privacy è redatta in adempimento degli obblighi previsti dall’Art. 10 della Direttiva n. 95/46/CE, nonché a quanto previsto dalla Direttiva 2002/58/CE, come aggiornata dalla Direttiva 2009/136/CE, in materia di Cookie.
                    <br/>
                    Questa informativa privacy riguarda esclusivamente questa Applicazione.<br/>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="sidebar">
                    <div class="widget">
                        <h3 class="widget-title">Classifica</h3>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in element.chaletRankings | orderBy:'position'"
                                ng-if="$index <5">
                                <span class="label label-info">{{item.position}}</span>
                                <a href="/chalets/{{item.id}}" title="">{{item.chaletName}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget">
                        <h3 class="widget-title">Voti</h3>

                        <div class="progress-container clearfix" ng-repeat="item in element.chaletRankings | orderBy:'position'"
                             ng-if="$index <5">
                            <span class="progress-text pull-left">{{item.chaletName}}</span>
                            <span class="prgress-value pull-right">{{item.votes}}</span>

                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;"></div>
                                <span class="sr-only">{{item.votes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>
<div tabfooter></div>