<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="resizeMe">Vota la tua estate</div>

                <p class="">
                    Vota la tua estate
                </p>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Foto</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section blog-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h2 class="lighter resizeMe">Benvenuto</h2>

                    <div class="space large"></div>
                </div>


              <div ng-repeat="item in model">
                {{item}}
                <img ng-src="/foto/{{item.name}}" style="width: 80px; height: 80px;"
                     alt="{{$index}} - {{item.chaletId}}" >
        </div>

              <section layout="row" layout-sm="column" layout-align="center center" class="my-table-header">

                <span>{{message}}</span>
                <span flex></span>

                <md-button ng-disabled="startRow == 0" ng-click="firstPage()" aria-label="First Page"
                           class="md-primary md-hue-2">
                  <md-icon md-font-icon="icon-skip-previous"></md-icon>
                </md-button>

                <md-button ng-disabled="startRow == 0" ng-click="goToPage(currentPage-1)" aria-label="Previous Page"
                           class="md-primary md-hue-2">
                  <md-icon md-font-icon="icon-fast-rewind"></md-icon>
                </md-button>


                <md-button ng-repeat="p in pages track by $index" class="md-primary" ng-click="goToPage(p)"
                           ng-disabled="currentPage==p">{{$index+1}}
                </md-button>


                <md-button ng-disabled="currentPage == pages.length || pages.length == 0" ng-click="goToPage(currentPage+1)"
                           aria-label="Next Page"
                           class="md-primary md-hue-2">
                  <md-icon md-font-icon="icon-fast-forward"></md-icon>
                </md-button>
                <md-button ng-disabled="currentPage == pages.length  || pages.length == 0" ng-click="lastPage()"
                           aria-label="Last Page"
                           class="md-primary md-hue-2">
                  <md-icon md-font-icon="icon-skip-next"></md-icon>
                </md-button>

                <span flex></span>
                <span>Mostra:</span>
                <md-select ng-model="pageSize" ng-change="rowsPerPage(pageSize)">
                  <md-option value="1">1</md-option>
                  <md-option value="5">5</md-option>
                  <md-option value="10">10</md-option>
                  <md-option value="25">25</md-option>
                  <md-option value="50">50</md-option>
                  <md-option value="100">100</md-option>
                </md-select>

              </section>


            </div>
        </div>
    </div>
</div>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>
<div tabfooter></div>
