<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
  <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="">
        <div class="resizeMe">Vota la tua estate</div>

        <p class="">
          Vota la tua estate
        </p>
        <ol class="breadcrumb">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="profilo">Profilo</a></li>
          <li class="active">Foto</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<section class="section active-section grey-background">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="service-block">
          <i class="icon large ti-home"></i>

          <h2 class="lighter resizeMe">Le tue foto</h2>

          <div class="space hidden-sm hidden-xs"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <form>
        <div class="form-group">

          <select id="chalet" class="form-control" ng-model="search['obj.chaletId']"
                  ng-options="c.id as c.name for c in chalets" ng-change="refresh()">
            <option value="">scegli uno chalet</option>
          </select>
        </div>
        <div class="form-group" ng-if="supervisor">
          <select id="notApprovedDate" class="form-control" ng-model="search['not.approvedDate']"
                  ng-options="c.value as c.label for c in [{value:undefined,label:'tutte'},{value:'2015-08-01',label:'da approvare'}]"
                  ng-change="refresh()">
            <option value="">tutte le foto o solo quelle da approvare?</option>
          </select>
        </div>
      </form>
    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="widget">
          <ul class="recent-posts">
            <li class="clearfix" ng-repeat="item in model" ng-if="$index % 4 == 0">
              <img ng-src="/photo/{{item.name}}" style="width: 80px; height: 80px;"
                   alt="{{item.name}}" ng-if="item.images.length>0">
              <a href="/photo/{{item.name}}" title="{{item.name}}" target="_blank">{{item.chaletName}}</a>
              <span>
                {{item.accountNameSurname}}
              </span>
              <a ng-if="supervisor && item.active" ng-click="approva(item.uuid)"><i class="{{item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-check-circle-o"></i></a>
              <a ng-if="supervisor && item.active" ng-click="disapprova(item.uuid)"><i class="{{!item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-ban"></i></a>
              <a ng-if="supervisor" ng-click="elimina(item.uuid)"><i class="{{!item.active ? 'text-danger' :''}} fa fa-times"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <ul class="recent-posts">
            <li class="clearfix" ng-repeat="item in model" ng-if="$index % 4 == 1">
              <img ng-src="/photo/{{item.name}}" style="width: 80px; height: 80px;"
                   alt="{{item.name}}" ng-if="item.images.length>0">
              <a href="/photo/{{item.name}}" title="{{item.name}}" target="_blank">{{item.chaletName}}</a>
              <span>
                {{item.accountNameSurname}}
              </span>
              <a ng-if="supervisor && item.active" ng-click="approva(item.uuid)"><i class="{{item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-check-circle-o"></i></a>
              <a ng-if="supervisor && item.active" ng-click="disapprova(item.uuid)"><i class="{{!item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-ban"></i></a>
              <a ng-if="supervisor" ng-click="elimina(item.uuid)"><i class="{{!item.active ? 'text-danger' :''}} fa fa-times"></i></a>
            </li>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <ul class="recent-posts">
            <li class="clearfix" ng-repeat="item in model" ng-if="$index % 4 == 2">
              <img ng-src="/photo/{{item.name}}" style="width: 80px; height: 80px;"
                   alt="{{item.name}}" ng-if="item.images.length>0">
              <a href="/photo/{{item.name}}" title="{{item.name}}" target="_blank">{{item.chaletName}}</a>
              <span>
                {{item.accountNameSurname}}
              </span>
              <a ng-if="supervisor && item.active" ng-click="approva(item.uuid)"><i class="{{item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-check-circle-o"></i></a>
              <a ng-if="supervisor && item.active" ng-click="disapprova(item.uuid)"><i class="{{!item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-ban"></i></a>
              <a ng-if="supervisor" ng-click="elimina(item.uuid)"><i class="{{!item.active ? 'text-danger' :''}} fa fa-times"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <ul class="recent-posts">
            <li class="clearfix" ng-repeat="item in model" ng-if="$index % 4 == 3">
              <img ng-src="/photo/{{item.name}}" style="width: 80px; height: 80px;"
                   alt="{{item.name}}" ng-if="item.images.length>0">
              <a href="/photo/{{item.name}}" title="{{item.name}}" target="_blank">{{item.chaletName}}</a>
              <span>
                {{item.accountNameSurname}}
              </span>
              <a ng-if="supervisor && item.active" ng-click="approva(item.uuid)"><i class="{{item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-check-circle-o"></i></a>
              <a ng-if="supervisor && item.active" ng-click="disapprova(item.uuid)"><i class="{{!item.approved && item.approvedDate ? 'text-danger' :''}} fa fa-ban"></i></a>
              <a ng-if="supervisor" ng-click="elimina(item.uuid)"><i class="{{!item.active ? 'text-danger' :''}} fa fa-times"></i></a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-1" ng-hide="currentPage < 3">
        <a ng-click="firstPage()" alt="vai all'inizio" title="vai all'inizio">
          <i class="icon ti-angle-double-left"></i></a>
      </div>

      <div class="col-md-1" ng-hide="currentPage < 2">
        <a ng-click="goToPage(currentPage-1)" alt="precedente"
           title="precedente"> <i
          class="icon ti-angle-left"></i></a>
      </div>

      <div class="col-md-1" ng-repeat="p in subpages track by $index">
        <a ng-click="goToPage(p)" alt="{{p}}"
           title="{{p}}" ng-disabled="currentPage==p">
          <i class="icon {{currentPage==p ? 'text-black' : ''}}">
            {{p}}</i></a>
      </div>

      <div class="col-md-1" ng-show="currentPage < pages.length && pages.length > 0">
        <a
          ng-click="goToPage(currentPage+1)" alt="successiva"
          title="successiva"> <i
          class="icon  ti-angle-right"></i></a>
      </div>

      <div class="col-md-1" ng-show="currentPage < pages.length -1 && pages.length > 0">
        <a ng-disabled="currentPage == pages.length  || pages.length == 0" ng-click="lastPage()"
           alt="vai alla fine" title="vai alla fine">
          <i class="icon  ti-angle-double-right"></i></a>
      </div>

    </div>

  </div>
</section>

<section class="section divider-section active-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="divider"></div>
      </div>
    </div>
  </div>
</section>
<div tabfooter></div>

