
<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="resizeMe">Vota la tua estate</div>

                <p class="">
                    Vota la tua estate
                </p>
                <ol class="breadcrumb">
                    <li class="active"><a ui-sref="home">Home</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="section active-section">
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="col-md-12">
                    <h2 class="lighter resizeMe">Come si gioca</h2>

                    <div class="space large"></div>
                </div>
                <div class="col-md-2 text-center">
                    <i class="icon large ti-medall"></i>

                    <p class="uppercase-text">1. Scegli il tuo chalet</p>
                </div>
                <div class="col-md-2 text-center">
                    <i class="icon large ti-pencil-alt"></i>

                    <p class="uppercase-text">2. Inserisci i tuoi dati</p>
                </div>
                <div class="col-md-2 text-center">
                    <i class="icon large ti-check"></i>

                    <p class="uppercase-text">3. Vota... Vota... Vota...</p>
                </div>
                <div class="col-md-2 text-center">
                    <i class="icon large ti-mobile"></i>

                    <p class="uppercase-text">4. Chiama</p>
                </div>
                <div class="col-md-2 text-center">
                    <i class="icon large ti-cup"></i>

                    <p class="uppercase-text">5. Vinci</p>
                </div>
            </div>

        </div>
    </div>
    <div class="space large"></div>
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="col-md-12">
                    <h1 class="lighter"><i class="icon large ti-home"></i> 108 Chalet</h1>

                    <div class="space large"></div>
                </div>

                <div class="col-md-4" ng-repeat="item in model">
                    <div class="team-block">
                        <a href="/#!/chalet_id/{{item.id}}" title="" class="team-image text-center">

                            <img src="/img/votalatuaestate_placeholder.png"
                                 alt="{{item.name}}" ng-if="item.images.length==0">

                            <img ng-src="/img/{{item.images[0].filename}}"
                                 alt="{{item.name}}" ng-if="item.images.length>0">

                        <span class="overlay">
                                <i class="icon ti-check-box middle-content"></i>
                        </span>
                        </a>

                        <p class="position">{{item.name}}</p>

                        <h3>conc. n. {{item.licenseNumber}}</h3>

                        <p>{{item.address}} - {{item.city}}</p>
                        <ul class="list-inline social-links text-center">

                            <li ng-if="item.facebook"><a href="{{item.facebook}}" title="{{item.facebook}}"
                                                         target="_blank"><i class="icon ti-facebook"></i></a></li>
                            <li ng-if="item.website"><a href="{{item.website}}" title="{{item.website}}"
                                                        target="_blank"><i
                                    class="icon ti-desktop"></i></a></li>
                            <li ng-if="item.google"><a href="{{item.google}}" title="{{item.google}}"
                                                       target="_blank"><i class="icon ti-google"></i></a></li>
                            <li><a href="/#!/vota/{{item.licenseNumber}}" title="vota {{item.name}} - conc. {{item.licenseNumber}}"><i
                                    class="icon ti-check"></i></a></li>

                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>

<div tabfooter></div>
