<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="resizeMe">Vota la tua estate</div>

                <p class="">
                    Vota la tua estate
                </p>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Login</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="section active-section grey-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <form>
                        <h3>Login</h3>

                        <div class="form-group">

                            <!-- input when not logged in -->
                            <div ng-hide="numbertocall">
                                <label for="telefono" class="col-sm-2 control-label">Telefono</label>

                                <div class="col-sm-10">
                                    <input id="telefono" class="form-control" type="text" name="phone"
                                           ng-change="unknown = false"
                                           placeholder="Inserisci il tuo numero di cellulare."
                                           ng-model="auth.phone">
                                </div>
                            </div>

                            <!-- login fields and commands when not logged in -->
                            <div ng-hide="loginOk">

                                <!-- command to send the number and wait for ring -->
                                <button ng-hide="numbertocall || unknown" ng-click="login()" class="btn btn-primary">
                                    Effettua il login
                                </button>

                                <button ng-hide="numbertocall" ng-click="reset()" class="btn btn-primary">
                                    Annulla
                                </button>

                                <!-- command to ring -->
                                <div ng-show="numbertocall" >
                                    <label class="control-label">

                                        Chiama questo numero per effettuare il login <a href="tel:{{numbertocall}}">{{numbertocall}}</a><br/>
                                        usando il telefono con lo stesso numero dichiarato. <br/>La telefonata e' gratuita.
                                    </label><br/>
                                    <button ng-click="reset()" class="btn btn-primary">
                                        Ricomincia
                                    </button>
                                </div>

                                <!-- command to ring -->
                                <div ng-show="unknown" class="text-center">
                                    <span class="ti-alert"></span>
                                    <label class="control-label">Il tuo numero non risulta registrato</label>
                                    <br/>
                                </div>

                            </div>

                        </div>

                    </form>

                    <form ng-if="!loginOk">
                        <br/>
                        <br/>

                        <h3>Non sei ancora registrato?</h3>
                        <br/>

                        <div class="form-group">
                            Vota almeno una volta per il tuo chalet preferito. <br/>Potrai votare senza dover ogni volta
                            effettuare la telefonata.<br/>
                            <a ui-sref="vota">vota! vota! vota!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>

<div tabfooter></div>
</div>
