<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5"
         style="background: url(http://demo.geniuspro.net/material/demo/demo/hero/big1.jpg) 0% 0%;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style=""><h1>Vota la tua estate</h1>

                <p class="">
                    Professionally iterate efficient best practices and cooperative communities
                </p>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Privacy</li>
                    <!--<li class="active">Data</li>-->
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section blog-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <h3>Privacy</h3>

                    <div style="font-size: medium;">Ti informiamo che il D.lgs. n. 196 del 30 giugno 2003 ("Codice in
                        materia di protezione dei dati personali") prevede la tutela delle persone e di altri soggetti
                        rispetto al trattamento dei dati personali.
                        Secondo la normativa indicata, tale trattamento sarà improntato ai principi di correttezza,
                        liceità e trasparenza e di tutela della tua riservatezza e dei tuoi diritti.<br/>
                        Ai sensi dell'articolo 13 del D.lgs. n.196/2003, pertanto, ti forniamo le seguenti informazioni:<br/>
                        <br/>
                        1. I dati da te forniti verranno trattati per le seguenti finalità: ricezione della preferenza e
                        comunicazioni;<br/>
                        2. Il trattamento sarà effettuato con le seguenti modalità: in modo informatizzato;<br/>
                        3. Il conferimento dei dati è obbligatorio per l'espressione della preferenza via telefono e
                        l'eventuale rifiuto di fornire tali dati comporta l'impossibilità di esprimere il voto;<br/>
                        4. I dati non saranno comunicati ad altri soggetti, né saranno oggetto di diffusione <br/>
                        <br/>
                        5. Il titolare del trattamento è: Alicestudio di Menzietti Belinda (info@alicestudio.it)<br/>
                        6. Il responsabile del trattamento è Belinda Menzietti;<br/>
                        7. Il rappresentante del titolare nel territorio dello Stato è Belinda Menzietti;<br/>
                        8. In ogni momento potrai esercitare i tuoi diritti nei confronti del titolare del trattamento,
                        ai sensi dell'art.7 del D.lgs.196/2003, che per tua comodità riproduciamo integralmente:<br/>
                        <br/>
                    </div>
                    <div style="font-style: italic;">
                        Decreto Legislativo n.196/2003, Art. 7 - Diritto di accesso ai dati personali ed altri
                        diritti<br/>
                        <br/>
                        1. L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che
                        lo
                        riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.<br/>
                        2. L'interessato ha diritto di ottenere l'indicazione:<br/>
                        a) dell'origine dei dati personali;<br/>
                        b) delle finalità e modalità del trattamento;<br/>
                        c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti
                        elettronici;<br/>
                        d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai
                        sensi dell'articolo 5, comma 2;<br/>
                        e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere
                        comunicati o
                        che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello
                        Stato,
                        di responsabili o incaricati.
                        3. L'interessato ha diritto di ottenere:<br/>
                        a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei
                        dati;<br/>
                        b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in
                        violazione
                        di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i
                        quali i dati sono stati raccolti o successivamente trattati;
                        c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza,
                        anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o
                        diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego
                        di
                        mezzi manifestamente sproporzionato rispetto al diritto tutelato.
                        4. L'interessato ha diritto di opporsi, in tutto o in parte:<br/>
                        a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti
                        allo scopo della raccolta;<br/>
                        b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario
                        o
                        di vendita diretta o per il compimento di ricerche di mercato o di comunicazione
                        commerciale.<br/>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="sidebar">
                    <div class="widget">
                        <h3 class="widget-title">Classifica</h3>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in element.chaletRankings | orderBy:'position'"
                                ng-if="$index <5">
                                <span class="label label-info">{{item.position}}</span>
                                <a href="/#/chalet_licenseNumber/{{item.licenseNumber}}">{{item.chaletName}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget">
                        <h3 class="widget-title">Voti</h3>

                        <div class="progress-container clearfix"
                             ng-repeat="item in element.chaletRankings | orderBy:'position'"
                             ng-if="$index <5">
                            <a href="/#/chalet_licenseNumber/{{item.licenseNumber}}"><span
                                    class="progress-text pull-left">{{item.chaletName}}</span></a>
                            <span class="prgress-value pull-right">{{item.votes}}</span>

                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;"></div>
                                <span class="sr-only">{{item.votes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>
<div tabfooter></div>