
<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="resizeMe">Vota la tua estate</div>

                <p class="">
                    Vota la tua estate
                </p>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Regolamento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section blog-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <h2 class="lighter resizeMe">Regolamento del concorso a premi "Vota la tua estate 2015"</h2>

                    <div style="font-size: medium;">
                        <b>Societa' promotrice</b><br/>
                        Il Soggetto Promotore dell’iniziativa è Alicestudio di Belinda Menzietti con sede legale in San
                        Benedetto del Tronto, via Bianchi 46 63074, Partita IVA IT 01826800441 .
                        <br/>
                        <br/>
                        <b>Destinatari</b><br/>
                        Il concorso sarà rivolto a tutti gli utenti che intenderanno partecipare alla votazione dello
                        chalet preferito  sul sito web http://votalatua.estate .
                        <br/>
                        <br/>
                        <b> Durata della manifestazione</b><br/>
                        Il concorso avrà svolgimento dal 1 agosto 2015 al 7 settembre 2015.
                        <br/>
                        <br/>
                        <b>Obiettivo della manifestazione</b><br/>
                        La presente manifestazione ha finalità strettamente promozionali con
                        l’unico scopo di promuovere gli esercizi commerciali che gestiscono gli stabilimenti balneari
                        che insistono sulle concessioni balneari del Comune di San Benedetto del Tronto.<br/>
                        <br/>
                        <b>Ambito territoriale</b><br/>
                        Territorio nazionale italiano e Repubblica di San Marino.<br/>
                        <br/>
                        <b>Modalita' di partecipazione</b><br/>
                        Parteciperanno al concorso tutti i "Destinatari" che avranno effettuato l’iscrizione al sito
                        http://votalatua.estate , avranno dato il consenso al trattamento dei propri dati personali e
                        avranno espresso almeno un "voto" valido attraverso il meccanismo di telefonata gratuita al
                        numero
                        indicato nel sito http://votalatua.estate.<br/>
                        Tutti i Destinatari (come indicato al paragrafo "Destinatari") potranno esprimere fino a tre
                        preferenze al giorno durante la durata del concorso.<br/>
                        <br/>
                        <b>Individuazione dei vincitori</b><br/>
                        Tutti coloro che avranno adempiuto i comportamenti richiesti e descritti nel paragrafo "Modalità
                        di Partecipazione", parteciperanno automaticamente alle estrazioni previste con cadenza
                        settimanale.<br/>
                        La partecipazione alle estrazioni è automatica attraverso meccanismo informatizzato.<br/>
                        Tutti i nominativi dei Destinatari che avranno validamente soddisfatto le condizioni (come
                        indicato al paragrafo "Modalità di Partecipazione") confluiranno in un database e parteciperanno
                        alle estrazioni dei premi (come specificato nel paragrafo "Premi") sulla base del calendario di
                        seguito riportato:<br/>
                        Le estrazioni saranno effettuate utilizzando un software di estrazione casuale per il quale è
                        stata predisposta la dichiarazione sostitutiva di atto notorio rilasciata dal responsabile
                        tecnico incaricato della realizzazione del software di estrazione relativa a:<br/>
                        a) le specifiche del software di estrazione casuale;<br/>
                        b) l'adozione di opportuni accorgimenti per impedire interventi esterni per determinare le
                        vincite;<br/>
                        c) la sicurezza complessiva del sistema utilizzato.<br/>
                        Le date di effettuazione delle estrazioni potranno essere anticipate e/o posticipate di max 10
                        giorni in base alle esigenze tecnico organizzative del promotore.<br/>
                        I vincitori verranno estratti dal database, formatosi nel periodo del concorso a premi,
                        contenente i dati di tutti gli aventi diritto.<br/>
                        Il vincitore non può contestare il premio assegnato, né richiedere il valore corrispondente in
                        denaro o il cambio/sostituzione, per nessun motivo.<br/>
                        Per tutte le informazioni relative alla vincita del premio e alle modalità di ricezione dello
                        stesso i vincitori potranno scrivere una email all’indirizzo info@votalatua.estate.<br/>
                        <br/>
                        <b>Dichiarazioni</b><br/>
                        Il promotore dichiara:<br/>
                        Che il software di estrazione random dei premi non è manomettibile né modificabile, giusta
                        perizia rilasciata da tecnico abilitato;<br/>
                        Che ai partecipanti al concorso è stata comunicata la normativa sul trattamento dei dati
                        personali;<br/>
                        Che i dati personali dei consumatori verranno trattati nel rispetto di quanto previsto dal Dlgs
                        196/2003;<br/>
                        che i partecipanti aderendo alla presente iniziativa, acconsentono a che i dati personali
                        forniti alla promotrice in relazione alla partecipazione alla presente promozione a premi siano
                        trattati ai sensi del D.Lgs. 196/2003, ferma restando in ogni caso per i partecipanti la facoltà
                        di poter esercitare i diritti di cui all’art. 7 del predetto decreto;
                        Per assicurare il corretto svolgimento di tutte le attività necessarie o strumentali alla
                        manifestazione a premio, i dati personali potranno essere eventualmente comunicati da
                        Alicestudio a soggetti terzi che svolgono alcune attività strumentali per conto dei Titolari e
                        che li tratteranno per il tempo strettamente necessario alla gestione della manifestazione a
                        premio;<br/>
                        La partecipazione alle estrazioni è automatica.<br/>
                        <br/>
                        <b>Premi</b>
                        I premi consistono in consumazioni o gadget del valore pari o inferiore a euro 1,00 (un euro)
                        <br/>
                        <b>Comunicazioni di vincita e consegna die premi</b><br/>
                        I vincitori, individuati secondo le modalità di cui al paragrafo "Individuazione dei vincitori",
                        saranno avvisati automaticamente attraverso messaggio SMS inviato al numero telefonico fornito
                        durante la registrazione al sito http://votalatua.estate.<br/>
                        Il Soggetto Promotore non si assume alcuna responsabilità per eventuali errori nella
                        comunicazione dell'indirizzo o di altri dati da parte del vincitore.<br/>
                        In caso di rinuncia da parte del vincitore o mancato ritiro del premio entro 7 giorni
                        dall’estrazione il Premio si intenderà non assegnato.<br/>
                        <br/>
                        <b>Gratuita' della partecipazione</b><br/>
                        La partecipazione al concorso a premi comporta per il partecipante, l’accettazione
                        incondizionata e totale delle regole e delle clausole contenute nel presente regolamento senza
                        limitazione alcuna.<br/>
                        La partecipazione al concorso è gratuita salvo le ordinarie spese di collegamento internet o
                        spedizione o telefoniche necessarie ai fini della partecipazione stessa.
                        <br/>
                        <b>Pubblicita' della manifestazione e del regolamento</b><br/>
                        Il Soggetto Promotore comunicherà il concorso sul sito internet http://votalatua.estate
                        Il messaggio pubblicitario sarà conforme a quanto dichiarato nel presente regolamento. Il
                        presente Regolamento sarà consultabile sul sito http://votalatua.estate<br/>
                        <br/>
                        <b>Trattamento dati personali</b><br/>
                        Il Soggetto Promotore dichiara che la partecipazione al presente Concorso presuppone il
                        trattamento dei dati personali dei partecipanti nel rispetto del Decreto Legislativo del
                        30/06/2003 n° 196 "Codice in materia di protezione dei dati personali" e successive modifiche
                        (di seguito "Codice Privacy").<br/>
                        Tutti i tentativi di uso fraudolento del materiale della Manifestazione rappresentano reati
                        (furti e frodi) perseguibili penalmente e riconducibili pertanto a procedimenti giudiziari.<br/>
                        Il Soggetto Promotore non si assume alcuna responsabilità per qualsiasi problema di accesso,
                        impedimento disfunzione o difficoltà riguardante gli strumenti tecnici, il computer, la linea
                        telefonica, la trasmissione e la connessione, il collegamento Internet che possa impedire ad un
                        concorrente di partecipare al Concorso e per ogni altra causa allo stesso non direttamente
                        imputabile.<br/><br/>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="sidebar">
                    <div class="widget">
                        <h3 class="widget-title">Classifica</h3>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in element.chaletRankings | orderBy:'position'"
                                ng-if="$index <5">
                                <span class="label label-info">{{item.position}}</span>
                                <a href="/#!/chalet_licenseNumber/{{item.licenseNumber}}">{{item.chaletName}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget">
                        <h3 class="widget-title">Voti</h3>

                        <div class="progress-container clearfix"
                             ng-repeat="item in element.chaletRankings | orderBy:'position'"
                             ng-if="$index <5">
                            <a href="/#!/chalet_licenseNumber/{{item.licenseNumber}}"><span
                                    class="progress-text pull-left">{{item.chaletName}}</span></a>
                            <span class="prgress-value pull-right">{{item.votes}}</span>

                            <div class="clearfix"></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 60%;"></div>
                                <span class="sr-only">{{item.votes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>
<div tabfooter></div>