<div ng-include="'/views/templates/header.html'"></div>
<div class="jumbotron">
    <h1>si vota</h1>
</div>

<div class="container">

    <div class="col-sm-6 margin30">
        <div class="divide50">
            <h3>Dopo aver espresso il tuo voto, ti chiederemo di fare uno squillo ad un numero di
                telefono</h3>
            <ul>
                <li>la telefonata E' COMPLETAMENTE GRATUITA;</li>
                <li>al primo squillo la chiamata verra' terminata.</li>
            </ul>
        </div>
    </div>

    <div class="col-sm-6 sky-form-login-register v2">
        <div class="margin40">

            <form id="sky-form" class="sky-form" novalidate>

                <fieldset>
                    <section>
                        <label class="input">nome:</label>
                        <input type="text" name="name" placeholder="Nome" ng-model="vote.name" required>
                    </section>
                    <section>
                        <label class="input">cognome</label>
                        <i class="icon-append fa fa-user"></i>
                        <input type="text" name="surname" placeholder="Cognome" ng-model="vote.surname"
                               required>
                    </section>
                    <section>
                        <label class="input">chalet </label>
                        <select ng-model="vote.preference1"
                                ng-options="c.licenseNumber as c.name for c in chalets">
                            <option value="">scegli uno chalet</option>
                        </select>
                    </section>


                    <section>
                        <label class="input">telefono</label>
                        <input type="text" name="phone"
                               placeholder="Numero di telefono con cui confermare il voto."
                               ng-model="vote.phone"
                               required>
                        </label>
                    </section>
                    <br/>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-phone">
                            </i>
                            <input type="checkbox" name="sendMeParadeUpdates"
                                   ng-model="vote.sendMeParadeUpdates">
                            <b class="tooltip tooltip-bottom-right">Vuoi ricevere gli aggiornamenti periodici della
                                classifica?
                                Riceverai un SMS al giorno, gratuito.</b>
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-phone"></i>
                            <input type="checkbox" name="sendMeFreeTickets"
                                   ng-model="vote.sendMeFreeTickets">
                            <b class="tooltip tooltip-bottom-right">Vuoi partecipare all'estrazione di consumazioni
                                gratuite? In caso di vittoria, riceverai un SMS da presentare allo chalet
                                che offre il premio!</b>
                        </label>
                    </section>

                </fieldset>

                <footer>

                    <div ng-if="errors.length && !call">
                        <ul>
                            <li ng-repeat="erro in errors track by $index"><b style="color: red;">{{erro}}</b>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!errors.length && call && !confirmed">
                        <b>Chiama questo numero per confermare il tuo voto <a
                                href="tel:+3905221520065">+3905221520065</a>
                            usando il telefono con lo stesso numero dichiarato.</b>. Ricordati che:
                        <ul>
                            <li>se non chiamerai entro 5 minuti il tuo voto verra' annullato;</li>
                            <li>non e' prevista alcuna spesa;</li>
                            <li>al primo squillo la chiamata verra' terminata;</li>
                            <li>devi indicare almeno una preferenza per una disciplina.</li>
                            <li>la stessa persona non puo' votare piu' volte.</li>
                        </ul>
                    </div>

                    <div ng-if="confirmed">
                        <h3>Grazie per aver votato!</h3>
                    </div>
                    <button type="submit" class="button" ng-click="send()">Invia il voto
                    </button>

                    <button type="submit" class="button" ng-click="reset()">Annulla
                    </button>
                    <button type="submit" class="button" ng-click="confirmed = true;" ng-if="false">Conferma
                    </button>
                    <br/>
                    <br/>
                    <br/>


                </footer>

            </form>

        </div>
    </div>
</div>
<div ng-include="'/views/templates/footer.html'"></div>
