<div class="section page-title small-padding background-wrapper with-overlay black-overlay active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5"
         style="background: url(http://demo.geniuspro.net/material/demo/demo/hero/big1.jpg) 0% 0%;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style=""><h1>Vota la tua estate</h1>

                <p class="">
                    Professionally iterate efficient best practices and cooperative communities
                </p>
                <ol class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li class="active">Vota</li>
                    <!--<li class="active">Data</li>-->
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="section active-section grey-background">
    <div class="container">
        <div class="row">


            <div class="row" ng-hide="sent">
                <h3>Vota per lo chalet che preferisci, e' facile e gratis!<br/>

                    Parteciperai all'estrazione di premi settimanali (link) e deciderai
                    quale stabilimento balneare vincera' l'edizione 2015 di "Vota la tua
                    estate".<br/>
                    Il vincitore si aggiudichera' una prestigiosa scultura
                    dell'artista sambenedettese Marcello Sgattoni (foto)<br/></h3>
            </div>

            <div class="row">

                <form class="form-horizontal">

                    <div ng-hide="sent">
                        <div class="text-center form-group">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="firstTime"
                                           value="true" checked>
                                    Prima volta:
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="firstTime"
                                           value="false">
                                    Gia' Votato:
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="firstTime == 'true'">
                            <label for="name" class="col-sm-2 control-label">nome:</label>

                            <div class="col-sm-10">
                                <input id="name" class="form-control" type="text" name="name" placeholder="Nome"
                                       ng-model="vote.name" required>
                            </div>
                        </div>
                        <div class="form-group" ng-show="firstTime  == 'true'">
                            <label for="cognome" class="col-sm-2 control-label">cognome</label>

                            <div class="col-sm-10">
                                <input id="cognome" class="form-control" type="text" name="surname"
                                       placeholder="Cognome"
                                       ng-model="vote.surname"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="chalet" class="col-sm-2 control-label">chalet </label>

                            <div class="col-sm-10">
                                <select id="chalet" class="form-control" ng-model="vote.preference1"
                                        ng-options="c.licenseNumber as c.name for c in chalets">
                                    <option value="">scegli uno chalet</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="telefono" class="col-sm-2 control-label">telefono</label>

                            <div class="col-sm-10">
                                <input id="telefono" class="form-control" type="text" name="phone"
                                       placeholder="Numero di telefono con cui confermare il voto."
                                       ng-model="vote.phone"
                                       required>
                            </div>
                        </div>
                        <div class="form-group" ng-show="firstTime == 'true'">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="sendMeFreeTickets"
                                               ng-model="vote.sendMeFreeTickets">
                                        Vuoi partecipare all'estrazione di consumazioni
                                        gratuite? In caso di vittoria, riceverai un SMS da mostrare allo chalet
                                        che offre il premio!
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="firstTime == 'true'">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="sendMeFreeTickets"
                                               ng-model="privacy">
                                        <b>Consenso al trattamento dei dati personali (cliccando si accettano tutti i
                                            termini e le condizioni)</b>
                                <textarea class="form-control" rows="1" cols="100">Informativa ex art. 13 D.lgs. 196/2003

Ciao,
ti informiamo che il D.lgs. n. 196 del 30 giugno 2003 ("Codice in materia di protezione dei dati personali") prevede la tutela delle persone e di altri soggetti rispetto al trattamento dei dati personali.
Secondo la normativa indicata, tale trattamento sarà improntato ai principi di correttezza, liceità e trasparenza e di tutela della tua riservatezza e dei tuoi diritti.
Ai sensi dell'articolo 13 del D.lgs. n.196/2003, pertanto, ti forniamo le seguenti informazioni:

1. I dati da te forniti verranno trattati per le seguenti finalità: ricezione della preferenza e comunicazioni;
2. Il trattamento sarà effettuato con le seguenti modalità: in modo informatizzato;
3. Il conferimento dei dati è obbligatorio per l'espressione della preferenza via telefono e l'eventuale rifiuto di fornire tali dati comporta l'impossibilità di esprimere il voto;
4. I dati non saranno comunicati ad altri soggetti, né saranno oggetto di diffusione 

5. Il titolare del trattamento è: Alicestudio di Menzietti Belinda (info@alicestudio.it)
6. Il responsabile del trattamento è Belinda Menzietti;
7. Il rappresentante del titolare nel territorio dello Stato è Belinda Menzietti;
8. In ogni momento potrai esercitare i tuoi diritti nei confronti del titolare del trattamento, ai sensi dell'art.7 del D.lgs.196/2003, che per tua comodità riproduciamo integralmente:

Decreto Legislativo n.196/2003, Art. 7 - Diritto di accesso ai dati personali ed altri diritti

1. L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.
2. L'interessato ha diritto di ottenere l'indicazione:
a) dell'origine dei dati personali;
b) delle finalità e modalità del trattamento;
c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici;
d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'articolo 5, comma 2;
e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.
3. L'interessato ha diritto di ottenere:
a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati;
b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.
4. L'interessato ha diritto di opporsi, in tutto o in parte:
a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta;
b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</textarea>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <footer>

                        <div ng-if="errors.length && !call">
                            <ul>
                                <li ng-repeat="erro in errors track by $index"><b style="color: red;">{{erro}}</b>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="!errors.length && call && !confirmed">
                            <b>Chiama questo numero per confermare il tuo voto <a
                                    href="tel:{{tocall}}">{{tocall}}</a>
                                usando il telefono con lo stesso numero dichiarato.</b>. Ricorda che:
                            <ul>
                                <li>se non chiamerai entro 5 minuti il tuo voto verra' annullato;</li>
                                <li>non e' prevista alcuna spesa;</li>
                                <li>al primo squillo la chiamata verra' terminata;</li>
                                <li>la stessa persona non puo' votare piu' volte.</li>
                            </ul>
                        </div>

                        <div ng-if="confirmed">
                            <h3>Grazie per aver votato!</h3>
                            <button type="submit" class="button" ng-click="reset()" ng-hide="sent">Vota Ancora
                            </button>
                        </div>
                        <div class="text-center ">
                            <button button type="submit" class="btn btn-primary" ng-click="send()" ng-hide="sent">Invia
                                il
                                voto
                            </button>

                            <button button type="submit" class="btn btn-default" ng-click="reset()" ng-hide="sent">
                                Annulla
                            </button>
                            <button button type="submit" class="btn btn-default" ng-click="confirmed = true;"
                                    ng-if="false">
                                Conferma
                            </button>
                        </div>
                        <br/>
                        <br/>
                        <br/>


                    </footer>

                </form>

            </div>


        </div>
    </div>
</section>

<section class="section divider-section active-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>
<div tabfooter></div>