<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>

<div class="divide80"></div>
<div class="container">

    <div class="center-heading">
        <h2>Our portfolio</h2>
        <span class="center-line"></span>
    </div>

    <ul class="filter list-inline">
        <li><a class="active" href="#" data-filter="*">Show All</a></li>
        <li><a href="#" data-filter=".photography">Photography</a></li>
        <li><a href="#" data-filter=".illustration">illustration</a></li>
        <li><a href="#" data-filter=".branding">branding</a></li>
        <li><a href="#" data-filter=".web-design">web design</a></li>
    </ul>
    <div class="row">
        <div class="portfolio-box iso-call col-4-space">

            <div class="project-post photography branding">
                <div class="item-img-wrap ">
                    <img src="img/img-8.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-8.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="portfolio-single.html">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post illustration web-design">
                <div class="item-img-wrap ">
                    <img src="img/mas-1.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/mas-1.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="portfolio-single.html">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post illustration web-design">
                <div class="item-img-wrap ">
                    <img src="img/img-3.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-3.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post photography web-design">
                <div class="item-img-wrap ">
                    <img src="img/img-4.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-4.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post branding">
                <div class="item-img-wrap ">
                    <img src="img/img-5.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-5.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post  illustration">
                <div class="item-img-wrap ">
                    <img src="img/img-6.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-6.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post  branding">
                <div class="item-img-wrap ">
                    <img src="img/mas-1.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/mas-1.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->


            <div class="project-post branding">
                <div class="item-img-wrap ">
                    <img src="img/mas-2.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/mas-2.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post  branding">
                <div class="item-img-wrap ">
                    <img src="img/img-2.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-2.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post  illustration">
                <div class="item-img-wrap ">
                    <img src="img/img-1.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-1.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post  photography">
                <div class="item-img-wrap ">
                    <img src="img/img-9.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-9.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post  photography">
                <div class="item-img-wrap ">
                    <img src="img/img-3.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-3.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post  web-design">
                <div class="item-img-wrap ">
                    <img src="img/img-7.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-7.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post  branding">
                <div class="item-img-wrap ">
                    <img src="img/img-4.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-4.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
        </div>
    </div>
</div><!--container-->
<div class="divide60"></div>
<div ng-include="'/views/templates/footer.html'"></div>