<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="breadcrumb-wrap breadcrumb-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>VOTA PER ARTE INSIEME BIM</h4>

                <p>Esprimi la tua preferenza per le tre discipline in concorso e chiama il numero indicato per
                    confermare la tua preferenza.</p>
            </div>
        </div>
    </div>
</div><!--breadcrumb light-->
<div class="divide60"></div>

<div class="container" ng-controller="ContestController">
    <div class="row">
        <div class="col-sm-6 margin30">
            <div class="divide50"></div>
            <h3 class="heading">Fotografia</h3>
            <ul class="">
                <li><a href="#">Alessio Castaldo - nro 32</a></li>
                <li><a href="#">Paolo Di Filippo - nro 8</a></li>
                <li><a href="#">Massimo Di Marzio - nro 23</a></li>
                <li><a href="#">Alice Granatiero - nro 24</a></li>
                <li><a href="#">Phoenix Digital - nro 28</a></li>
                <li><a href="#"> Alessandra Preziosa - nro 10</a></li>
                <li><a href="#"> Italo Pulcini - nro 6</a></li>
                <li><a href="#"> Dante Marcos Spurio - nro 5</a></li>
            </ul>

            <div class="divide50"></div>
            <h3 class="heading">Pittura</h3>
            <ul class="">
                <li><a href="#">Teresa Annibali - nro 18</a></li>
                <li><a href="#">Maria Rosa Badalini - nro 4</a></li>
                <li><a href="#">Martina Capanna - nro 12</a></li>
                <li><a href="#">Valeria Capponi - nro 2</a></li>
                <li><a href="#">Vincenzo Carboni - nro 30</a></li>
                <li><a href="#">Assunta Cassa - nro 31</a></li>
                <li><a href="#">Michele Chiappini - nro 19</a></li>
                <li><a href="#">Rekha Chumber - nro 16</a></li>
                <li><a href="#">Ciaracia' - nro 21</a></li>
                <li><a href="#">Lorenzo De Angelis - nro 27</a></li>
                <li><a href="#">Tanya Del Bello - nro 22</a></li>
                <li><a href="#">Gianluca Fioravanti - nro 20</a></li>
                <li><a href="#">Emma Luzzietti - nro 13</a></li>
                <li><a href="#">Fabrizio Mariani - nro 3</a></li>
                <li><a href="#">Stefano Marozzi - nro 14</a></li>
                <li><a href="#">Belinda Menzietti - nro 1</a></li>
                <li><a href="#">Davide Peroni - nro 17</a></li>
                <li><a href="#">Carla Ruz - nro 11</a></li>
                <li><a href="#">Timoteo Sceverti - nro 9</a></li>
                <li><a href="#">Alessandra Tanucci - nro 15</a></li>
            </ul>

            <div class="divide50"></div>
            <h3 class="heading">Scultura</h3>
            <ul class="">
                <li><a href="#">Eleonora Ceci - nro 26</a></li>
                <li><a href="#"> Federica Simonetti - nro 25</a></li>
                <li><a href="#"> Emidio Sturba - nro 29</a></li>
            </ul>
        </div>
        <div class="col-sm-6 sky-form-login-register v2">
            <div class="margin40">

                <form id="sky-form" class="sky-form" novalidate>
                    <h3 class="text-center">Vota</h3>

                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" placeholder="Nome" ng-model="vote.name" required>
                                <b class="tooltip tooltip-bottom-right">Si richiede un nome</b>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="surname" placeholder="Cognome" ng-model="vote.surname"
                                       required>
                                <b class="tooltip tooltip-bottom-right">Si richiede un cognome</b>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-phone"></i>
                                <input type="text" name="phone"
                                       placeholder="Numero di telefono con cui confermare il voto."
                                       ng-model="vote.phone"
                                       required>
                                <b class="tooltip tooltip-bottom-right">Si richiede un numero di telefono con cui
                                    confermare il voto.</b>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-camera"></i>
                                <input type="text" name="photo" placeholder="Numero della Fotografia prescelta."
                                       id="fotografia"
                                       ng-model="vote.photo">
                                <b class="tooltip tooltip-bottom-right">Numero della Fotografia prescelta.</b>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-paint-brush"></i>
                                <input type="text" name="pittura" placeholder="Numero della Pittura prescelta."
                                       id="pittura"
                                       ng-model="vote.picture">
                                <b class="tooltip tooltip-bottom-right">Numero della Pittura prescelta.</b>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-gavel"></i>
                                <input type="text" name="sculpture" placeholder="Numero della Scultura prescelta."
                                       id="scultura"
                                       ng-model="vote.sculpture">
                                <b class="tooltip tooltip-bottom-right">Numero della Scultura prescelta.</b>
                            </label>
                        </section>

                    </fieldset>

                    <footer>

                        <div ng-if="errors.length && !call">
                            <ul>
                                <li ng-repeat="erro in errors track by $index"><b style="color: red;">{{erro}}</b>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="!errors.length && call && !confirmed">
                            <b>Chiama questo numero per confermare il tuo voto <a href="tel:+3905221520065">+3905221520065</a>
                                usando il telefono con lo stesso numero dichiarato.</b>. Ricordati che:
                            <ul>
                                <li>se non chiamerai entro 5 minuti il tuo voto verra' annullato;</li>
                                <li>non e' prevista alcuna spesa;</li>
                                <li>al primo squillo la chiamata verra' terminata;</li>
                                <li>devi indicare almeno una preferenza per una disciplina.</li>
                                <li>la stessa persona non puo' votare piu' volte.</li>
                            </ul>
                        </div>
                        <div ng-if="!errors.length && !call && !confirmed">
                            <h3>Per votare inserisci:</h3>
                            <ul>
                                <li>nome</li>
                                <li>cognome</li>
                                <li>numero di telefono</li>
                            </ul>
                            <h3>Dopo aver espresso il tuo voto, ti chiederemo di fare uno squillo ad un numero di
                                telefono, usando il telefono con lo stesso numero dichiarato:</h3>
                            <ul>
                                <li>la telefonata E' COMPLETAMENTE GRATUITA;</li>
                                <li>al primo squillo la chiamata verra' terminata.</li>
                            </ul>
                        </div>

                        <div ng-if="confirmed">
                            <h3>Grazie per aver votato!</h3>
                        </div>
                        <button type="submit" class="button" ng-click="send()">Invia il voto
                        </button>

                        <button type="submit" class="button" ng-click="reset()">Annulla
                        </button>
                        <br/>
                        <br/>
                        <br/>


                    </footer>

                </form>
            </div>
            <!--login form wrap end-->

        </div>
    </div>
</div>

<div ng-include="'/views/templates/footer.html'"></div>

