<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>portfolio single</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li><a href="index.html">Portfolio</a></li>
          <li>portfolio single</li>
        </ol>
      </div>
    </div>
  </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="testi-carousel" class="owl-carousel owl-spaced">
        <div>
          <img src="img/showcase-1.jpg" class="img-responsive" alt="">
        </div>
        <div>
          <img src="img/showcase-2.jpg" class="img-responsive" alt="">
        </div>
        <div>
          <img src="img/showcase-3.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--img slide row-->
  <div class="divide35"></div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="project-detail">
        <h3>Lorem ipsum dollor sit amet</h3>
        <em>Photoshop / HTML5</em>
        <hr>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
          with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>

        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
          with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>

        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
          with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
        <hr>
        <p><a href="#" class="btn btn-lg btn-theme-bg">Launch Project</a></p>
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="divide60"></div>