<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">{giavaCMS}</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li ng-class="{active: $state.includes('home')}"><a href="#/">Home</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">Base <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="global-configuration">Global configuration</a></li>
                            <li><a ui-sref="security">Security</a></li>
                            <li><a ui-sref="logging">Logging</a></li>
                            <li><a ui-sref="pages">Pages</a></li>
                            <li><a ui-sref="resources">Resources</a></li>
                        </ul>
                    </li>


                    <li class="dropdown"
                        ng-class="{active:$state.includes('richcontent') || $state.includes('richcontent_view')  || $state.includes('richcontent_edit')}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">RichContent <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="richcontent">richcontent</a></li>
                            <li><a ui-sref="richcontenttype">richcontent type</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Banner <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{active: $state.includes('banner')}"><a ui-sref="banner">Banner</a></li>
                            <li ng-class="{active: $state.includes('bannertype')}"><a ui-sref="bannertype">bannertype</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">Catalogue <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{active: $state.includes('catalogue-configuration')}"><a
                                    ui-sref="catalogue-configuration">Configuration</a>
                            <li ng-class="{active: $state.includes('category')}"><a ui-sref="category">Category</a></li>
                            <li ng-class="{active: $state.includes('products')}"><a ui-sref="products">Products</a>
                            <li ng-class="{active: $state.includes('features')}"><a ui-sref="features">Features</a>

                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="well" ncy-breadcrumb></div>
    <span us-spinner="{radius:30, width:8, length: 16, color: 'blue'}"></span>
</div>
