<!-- based on Profile.html -->

<ion-view view-title="{{element.title}}">
    <ion-content ng-class="{expanded:$scope.isExpanded}">

        <!-- fascione con sfondo + avatar -->
        <div class="hero slide-up" ng-style="{ 'background-image' : backgroundImage };">
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo-no-chalet.jpg');"></div>
                <h3><a class="dark-bg padding light">{{element.title}}</a></h3>
                <br/>
                <h4><a class="dark-bg padding light">{{element.preview}}</a></h4>
            </div>
        </div>

        <!-- link rapidi -->
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-home"></i> Home
            </a>
            <a ui-sref="app.notizie" class="tab-item">
                <i class="icon ion-star"></i> Notizie
            </a>
        </div>

        <h4 class="content padding double-padding-x">{{element.title}}</h4>
        <h6 class="content padding double-padding-x">{{element.content}}</h6>

        <!-- NOTA BENE: sezione following sostituita con sezione a-là activity... o magari gallery... cmq sono arrivato qui -->


        <!-- mezza lista delle foto con indice pari -->
        <div class="list half animate-fade-slide-in">

            <div class="item"></div>

            <!-- repeat delle foto della lista -->
            <div class="card card-gallery item item-text-wrap" ng-repeat="image in element.images" ng-if="$index % 2 == 0">
                <div class="ink dark-bg">
                    <img class="full-image" ng-src="{{imgSrc(image.filename)}}"
                         alt="Immagine {{$index}}" >
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                </div>
            </div>
        </div>

        <!-- mezza lista delle foto con indice dispari -->
        <div class="list half animate-fade-slide-in">

            <div class="item"></div>

            <!-- repeat delle foto della lista -->
            <div class="card card-gallery item item-text-wrap" ng-repeat="image in element.images" ng-if="$index % 2 == 1">
                <div class="ink dark-bg">
                    <img class="full-image" ng-src="{{imgSrc(image.filename)}}"
                         alt="Immagine {{$index}}" >
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                </div>
            </div>
        </div>

    </ion-content>

    <!-- horror vacui -->
    <div class="button-bar social-login">
        <a class="button button-small button-border button-assertive-900 ">&nbsp;
        </a>
    </div>

</ion-view>
