<!--  basato su Friends.html -->

<ion-view view-title="Notizie">
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="content has-header">

            <!-- lista completa, magari da paginare? magari no? -->
            <div class="list animate-fade-slide-in-right">

                <a class="item">Notizie da {{modelIndex*howMany + (models[modelIndex].length > 0 ? 1 : 0)}} a {{modelIndex*howMany +
                    models[modelIndex].length}}</a>

                <!-- singolo blog -->
                <a ui-sref="app.notizia({id:item.id})" class="item item-avatar item-icon-right"
                   ng-repeat="item in models[modelIndex]">

                    <!-- immagine no -->
                    <img src="/img/logo-no-chalet.jpg"
                         alt="{{item.name}}" ng-if="item.images.length==0">
                    <!-- immagine si -->
                    <img ng-src="{{imgSrc(item.images[0].filename)}}"
                         alt="{{item.name}}" ng-if="item.images.length>0">

                    <!-- nome -->
                    <h2>{{item.title}}</h2>

                    <!-- anteprima -->
                    <p>{{item.preview}}</p>

                    <!-- boh -->
                    <i class="icon ion-star muted"></i>

                </a>
            </div>

        </div>


        <button id="fab-blog-minus" ng-show="modelIndex > 0 && models.length > 1"
                ng-click="modelIndex = modelIndex-1"
                class="button button-fab button-fab-bottom-left expanded button-energized-900 drop"><i
                class="icon ion-arrow-left-b"></i></button>

        <button id="fab-blog-plus" ng-show="modelIndex < (models.length -1)"
                ng-click="modelIndex = modelIndex+1"
                class="button button-fab button-fab-bottom-right expanded button-energized-900 drop"><i
                class="icon ion-arrow-right-b"></i></button>

    </ion-content>

    <!-- horror vacui -->
    <div class="button-bar social-login">
        <a class="button button-small button-border button-assertive-900 ">&nbsp;
        </a>
    </div>

</ion-view>
