<!-- basato su Login.html -->

<ion-view view-title="vota la tua estate: login" align-title="left">
    <ion-content style="background: url(img/logo-no-chalet.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Vota la tua estate</h1>
            </div>
        </div>

        <!-- input when not logged in -->
        <div class="list" ng-hide="loginOk">
            <ion-md-input placeholder="Il tuo numero di telefono..." highlight-color="balanced"
                          type="text"
                          ng-model="auth.phone"></ion-md-input>
        </div>
        <!-- output when logged in -->
        <div class="list" ng-show="loginOk">
            <div class="item">{{auth.phone}}</div>
        </div>

        <!-- logout button when logged in -->
        <div class="padding" ng-show="loginOk">
            <button ng-click="logout()" class="button button-full button-assertive ink">Logout</button>
        </div>

        <!-- login fields and commands when not logged in -->
        <div class="padding" ng-hide="loginOk" ng-if="auth.phone">

            <!-- command to send the number and wait for ring -->
            <button ng-hide="numbertocall" ng-click="login()" class="button button-full button-balanced ink">
                Invia il tuo
                numero
            </button>

            <!-- command to ring -->
            <div ng-show="numbertocall">
                <a href="tel:{{numbertocall}}" class="button button-full button-energized ink">Ora fammi uno
                    squillo {{numbertocall}} per confermare il tuo numero!</a>
                <br/>
                La telefonata e' gratuita
            </div>

            <!-- command to ring -->
            <div ng-show="unknown">
                <a class="button button-full button-assertive ink">Il tuo numero non risulta registrato</a>
            </div>

        </div>

        <!-- link to registration page -->
        <div class="button-bar social-login">
            <a ui-sref="app.register"
               class="button button-small button-border icon-left button-calm-900">Registrati
            </a>
        </div>

    </ion-content>
</ion-view>
