<!-- Basato su Login.html -->

<ion-view view-title="Registrati" align-title="left">
    <ion-content style="background: url(img/logo-no-chalet.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Vota la tua estate</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Il tuo nome ..." highlight-color="balanced" type="text" ng-model="username"></ion-md-input>
            <ion-md-input placeholder="Il tuo numero di telefono..." highlight-color="balanced" type="text" ng-model="phone"></ion-md-input>

            <ion-md-input placeholder="Dai il consenso al trattamento dei tuoi dati?" highlight-color="balanced" type="" ng-model="accept"></ion-md-input>
        </div>
        <div class="padding" ng-show="accept && username && phone">
            <a href="tel:#{numberToCall}" class="button button-full button-assertive ink" >Fammi uno squillo!</a>
            La telefonata e' gratuita
        </div>
        <div class="button-bar social-login">
        </div>
    </ion-content>
</ion-view>
