<section class="section with-overlay black-overlay background-wrapper  active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5"
         style="background: url(http://demo.geniuspro.net/material/demo/demo/hero/big1.jpg) 0% 0%;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="small-text uppercase-text strong-text">Vota la tua estate.</h3>

                <p>600.000 utenti in qualche settimana. <br/>Questo il nostro sogno.</p>
                <ul class="list-inline social-links">
                    <li><a href="#" title=""><i class="icon ti-facebook"></i></a></li>
                    <li><a href="#" title=""><i class="icon ti-twitter"></i></a></li>
                    <li><a href="#" title=""><i class="icon ti-google"></i></a></li>
                    <li><a href="#" title=""><i class="icon ti-tumblr"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h3 class="small-text uppercase-text strong-text">Address</h3>
                <address>
                    <strong>votalatua.estate</strong><br>
                    63074 san benedetto del tronto AP<br>
                    Italia<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <address>
                    info@votalatua.estate
                </address>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h3 class="small-text uppercase-text strong-text">Votate</h3>

                <p>Siamo il paese del voto. Esercita il tuo diritto. Fallo anche 3 volte.</p>
            </div>
            <div class="col-md-12 text-center">
                <div class="space"></div>
                <div class="space"></div>
                <ul class="list-inline">
                    <li class="uppercase-text strong-text"><a href="index2.html">Home</a></li>
                    <li class="uppercase-text strong-text"><a href="chalet.html">Chalet</a></li>
                    <li class="uppercase-text strong-text"><a href="classifica.html">Classifica</a></li>
                    <li class="uppercase-text strong-text"><a href="vota.html">Vota</a></li>
                    <li class="uppercase-text strong-text"><a href="blog.html">Blog</a></li>
                    <li class="uppercase-text strong-text"><a href="contatti.html">Contatti</a></li>
                </ul>
                <p>© 2015 - Vota la tua estate</p>
            </div>
        </div>
    </div>
</section>