<section class="section with-overlay black-overlay background-wrapper  active-section">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="small-text uppercase-text strong-text">Vota la tua estate.</h3>

                <p>Vota la tua estate, tanto è gratis. </p>
                <p> Anzi, rischi di vincere un premio.</p>
                <ul class="list-inline social-links">
                    <li><a href="http://facebook.com/votalatuaestate" title="facebook.com/votalatuaestate"><i
                            class="icon ti-facebook"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h3 class="small-text uppercase-text strong-text">Sei uno chalet?</h3>
                <p>Contattaci <a href="mailto:info@votalatua.estate">info@votalatua.estate</a>.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h3 class="small-text uppercase-text strong-text">Cosa si vince</h3>

                <p>Ti avviseremo attraverso un SMS al numero da te indicato.</p>
            </div>
            <div class="col-md-12 text-center">
                <div class="space"></div>
                <div class="space"></div>
                <ul class="list-inline">
                    <li class="uppercase-text strong-text"><a ui-sref="home">Home</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="chalet">Chalet</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="classifica">Classifica</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="vota">Vota</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="come-si-fa">Come si fa</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="cosa-si-vince">Cosa si vince</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="privacy">Privacy</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="cookie-policy">Cookie Policy</a></li>
                    <li class="uppercase-text strong-text"><a ui-sref="regolamento">Regolamento</a></li>
                </ul>
                <p>© 2015 - Vota la tua estate - Partita Iva 01826800441</p>
            </div>
        </div>
    </div>

</section>
