<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" ng-controller="BannerController">
    <form>

        <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" placeholder="id" ng-model="element.id" readonly="true">
        </div>

        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" placeholder="name" ng-model="element.name">
        </div>
        <div class="form-group">
            <label for="bannerType">bannerType</label>
            <select id="bannerType" ng-model="search.obj.bannerType" class="form-control"
                    ng-options="bannerType as bannerType.name for bannerType in bannertypes track by bannerType.id"></select>

        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" placeholder="description"
                   ng-model="element.description">
        </div>

        <div class="form-group">
            <label for="language">language</label>
            <input type="text" class="form-control" id="language" placeholder="language"
                   ng-model="element.language">
        </div>

        <div class="form-group">
            <label for="url">url</label>
            <input type="text" class="form-control" id="url" placeholder="url"
                   ng-model="element.url">
        </div>

        <div class="form-group">
            <label for="internal">internal</label>
            <input type="checkbox" class="form-control" id="internal" placeholder="internal"
                   ng-model="element.internal">
        </div>

        <div class="form-group">
            <label for="online">online</label>
            <input type="checkbox" class="form-control" id="online" placeholder="online"
                   ng-model="element.online">
        </div>


        <div class="form-group">
            <label for="img">immagine</label>
            nome:
            <input type="text" ng-model="image.name"/><br/>
            descrizione:
            <input type="text" ng-model="image.description"/>
            <input id="img" type="file" file-model="image.file"/>
            <button class="btn btn-primary" ng-click="uploadImage()">uploadImage</button>
        </div>

        <div>
            <img class="slide" ng-src="/img/{{element.image.filename}}" title="{{element.image.name}}">
            id: {{element.image.id}}<br/>
            description: {{element.image.description}}<br/>
            filename: {{element.image.filename}}<br/>
            filePath: {{element.image.filePath}}<br/>
        </div>


        <button class="btn btn-primary btn-lg" ng-click="save()" ng-show="element.id === undefined">Save</button>
        <button class="btn btn-primary btn-lg" ng-click="update()" ng-show="element.id !== undefined">Update</button>
        <button class="btn btn-primary btn-lg" ng-click="delete()" ng-show="element.id !== undefined">Delete</button>
        <button class="btn btn-primary btn-lg" ng-click="undo()">Undo</button>
    </form>
</div>

<div ng-include="'/views/templates/footer.html'"></div>
