<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" ng-controller="ProductController">
    <form>

        <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" placeholder="id" ng-model="element.id" readonly="true">
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" placeholder="name" ng-model="element.name">
        </div>
        <div class="form-group">
            <label for="id">category</label>
            <select ng-model="element.category" class="form-control"
                    ng-options="category as category.name for category in categories track by category.id"></select>
        </div>


        <div class="form-group">
            <label for="language">val1 {{element.category.prop1}}</label>
            <select ng-model="element.val1" class="form-control"
                    ng-options="prop1 for prop1 in featureItems[element.category.ref1]"></select>
        </div>


        category: {{element.category}}
        <br/>
        ref1:{{element.category.ref1}}.

        <br/>
        {{featureItems | json}}


        <div class="form-group">
            <label for="language">language</label>
            <input type="text" class="form-control" id="language" placeholder="language" ng-model="element.language">
        </div>

        <button class="btn btn-primary" ng-click="save()" ng-show="element.id === undefined">Save</button>
        <button class="btn btn-primary" ng-click="update()" ng-show="element.id !== undefined">Update</button>
        <button class="btn btn-primary" ng-click="delete()" ng-show="element.id !== undefined">Delete</button>
        <button class="btn btn-primary" ng-click="undo()">Undo</button>
    </form>
</div>

<div ng-include="'/views/templates/footer.html'"></div>
