<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" ng-controller="ProductController">

    <label>id:</label>
    <span>{{element.id}}</span><br/>

    <label>name:</label>
    <span>{{element.name}}</span><br/>


    <label>category:</label>
    <span>{{element.category.name}}</span><br/>


    <label>description:</label>
    <span>{{element.description}}</span><br/>

    <label>orderNum:</label>
    <span>{{element.orderNum}}</span><br/>

    <label>{{element.category.prop1}} (prop1):</label>
    <span>{{element.val1}}</span><br/>

    <label>{{element.category.prop2}} (prop2):</label>
    <span>{{element.val2}}</span><br/>

    <label>{{element.category.prop3}} (prop3):</label>
    <span>{{element.val3}}</span><br/>

    <label>{{element.category.prop4}} (prop4):</label>
    <span>{{element.val4}}</span><br/>

    <label>{{element.category.prop5}} (prop5):</label>
    <span>{{element.val5}}</span><br/>

    <label>{{element.category.prop6}} (prop6):</label>
    <span>{{element.val6}}</span><br/>

    <label>{{element.category.prop7}} (prop7):</label>
    <span>{{element.val7}}</span><br/>

    <label>{{element.category.prop8}} (prop8):</label>
    <span>{{element.val8}}</span><br/>

    <label>{{element.category.prop9}} (prop9):</label>
    <span>{{element.val9}}</span><br/>

    <label>{{element.category.prop10}} (prop10):</label>
    <span>{{element.val10}}</span><br/>


    <label>language:</label>
    <span>{{element.language}}</span><br/>



    <a class="btn btn-default" href="/#/product/{{element.id}}/edit" role="button">Modifica</a>
</div>


<div ng-include="'/views/templates/footer.html'"></div>
