<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" ng-controller="RichcontentController">
  <form>

    <div class="form-group">
      <label for="id">id</label>
      <input type="text" class="form-control" id="id" placeholder="id" ng-model="element.id" readonly="true">
    </div>

    <div class="form-group">
      <label for="id">richContentType</label>
      <select ng-model="element.val1" class="form-control"
              ng-options="feature as richcontenttype.name for richcontenttype in richcontenttypes track by richcontenttype.id"></select>
    </div>
    <div class="form-group">
      <label for="title">title</label>
      <input type="text" class="form-control" id="title" placeholder="title" ng-model="element.title">
    </div>
    <div class="form-group">
      <label for="preview">preview</label>
      <textarea class="form-control" id="preview" placeholder="preview" ng-model="element.preview"></textarea>
    </div>

    <label for="content">content</label>

    <div id="content" text-angular ng-model="element.content" name="demo-editor"></div>

    <div class="form-group">
      <label for="author">author</label>
      <input type="text" class="form-control" id="author" placeholder="author" ng-model="element.author">
    </div>
    <div class="form-group">
      <label for="tags">tags (use ',' to separe tags)</label>
      <input type="text" class="form-control" id="tags" placeholder="tags" ng-model="element.tags">
    </div>
    <div class="form-group">
      <label for="tags">date {{element.date | date : 'dd/MM/yyyy'}}</label>
      <input class="form-control" id="date" placeholder="dd/MM/yyyy"
             ng-model="element.date" format-my-date>
    </div>


    <button class="btn btn-primary" ng-click="save()" ng-show="element.id === undefined">Save</button>
    <button class="btn btn-primary" ng-click="update()" ng-show="element.id !== undefined">Update</button>
    <button class="btn btn-primary" ng-click="delete()" ng-show="element.id !== undefined">Delete</button>
    <button class="btn btn-primary" ng-click="undo()">Undo</button>
  </form>
</div>

<div ng-include="'/views/templates/footer.html'"></div>
