<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" ng-controller="RichcontentController">
    <form>
        <form>

            <label>id:</label>
            <span>{{element.id}}</span><br/>


            <label>title:</label>
            <span>{{element.title}}</span><br/>

            <div>
                <h1>documents</h1>
                <button class="btn btn-primary" ng-click="addDocument()">addDocument</button>
                <p ng-repeat="doc in documents">
                    nome {{$index+1}}:
                    <input type="text" ng-model="doc.name"/><br/>
                    descrizione {{$index+1}}:
                    <input type="text" ng-model="doc.description"/>
                    <input type="file" file-model="doc.file"/>
                <ol></ol>
                </p>
                <button class="btn btn-primary" ng-click="uploadDocuments()" ng-disabled="images.length <1">
                    uploadDocuments
                </button>
            </div>
            <br/>

            <div class="container slider">
                <p ng-repeat="doc in element.documents">
                    <img class="slide" ng-src="/docs/{{doc.filename}}" title="{{doc.name}}">
                    id: {{doc.id}}<br/>
                    description: {{doc.description}}<br/>
                    filename: {{doc.filename}}<br/>
                    filePath: {{doc.filePath}}<br/>
                    <a ng-click="deleteDocument(doc.id)"><i class="fa fa-trash-o"></i></a>
                </p>
            </div>


        </form>
    </form>
</div>

<div ng-include="'/views/templates/footer.html'"></div>
