<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" ng-controller="RichcontentController">
    <form>

        <label>id:</label>
        <span>{{element.id}}</span><br/>


        <label>title:</label>
        <span>{{element.title}}</span><br/>

        <div>
            nome:
            <input type="text" ng-model="img.name"/><br/>
            descrizione:
            <input type="text" ng-model="img.description"/>
            <input type="file" file-model="img.file"/>
            <button class="btn btn-primary" ng-click="singleupload()">upload</button>
        </div>
        <br/>

        <div class="container slider">
            <p ng-repeat="img in element.images">
                <img class="slide" ng-src="{{img.image}}" title="{{img.name}}">
                description: {{image.description}}<br/>
                filename: {{image.filename}}<br/>
                filePath: {{image.filePath}}<br/>
            </p>
        </div>


    </form>
</div>

<div ng-include="'/views/templates/footer.html'"></div>
