<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" style="border: solid 1px;" ng-controller="MenuLeftController">
    <div class="row">
        <div class="col-md-3" style="border: solid 1px;" ng-show="menuOn">
            <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div>
        <div class="col-md-5" style="border: solid 0px;">
            <h2>Menu <a ng-click="menuSwitchOn()" ng-hide="menuOn"><i class="fa fa-caret-square-o-down"></i></a>
                <a ng-click="menuSwitchOff()" ng-show="menuOn"><i class="fa fa-bars"></i></a></h2>
            <ul>

                <li><a ui-sref="richcontent">richcontent</a></li>
                <li><a ui-sref="richcontenttype">richcontenttype</a></li>
                <li><a ui-sref="category">category</a></li>
                <li><a ui-sref="product">product</a></li>
                <li><a ui-sref="feature">feature</a></li>
                <li><a ui-sref="banner">Banner</a></li>
                <li><a ui-sref="bannertype">bannertype</a></li>
            </ul>
        </div>

    </div>
</div>

<div ng-include="'/views/templates/footer.html'"></div>
