<div ng-include="'/views/templates/header.html'"
     ng-init="image='home-bg.jpg'; pageTitle ='home'; pageSubTitle = 'angularJS+giavaCMS clipboard'"></div>


<div class="container-fluid" ng-controller="CategoryController">

    <label>id:</label>
    <span>{{element.id}}</span><br/>

    <label>name:</label>
    <span>{{element.name}}</span><br/>
    <label>description:</label>
    <span>{{element.description}}</span><br/>

    <label>orderNum:</label>
    <span>{{element.orderNum}}</span><br/>

    <label>prop1:</label>
    <span>{{element.prop1}}</span><br/>
    <label>ref1:</label>
    <span>{{element.ref1}}</span><br/>


    <label>prop2:</label>
    <span>{{element.prop2}}</span><br/>
    <label>ref2:</label>
    <span>{{element.ref2}}</span><br/>

    <label>prop3:</label>
    <span>{{element.prop3}}</span><br/>
    <label>ref3:</label>
    <span>{{element.ref3}}</span><br/>

    <label>prop4:</label>
    <span>{{element.prop4}}</span><br/>
    <label>ref4:</label>
    <span>{{element.ref4}}</span><br/>

    <label>prop5:</label>
    <span>{{element.prop5}}</span><br/>
    <label>ref5:</label>
    <span>{{element.ref5}}</span><br/>

    <label>prop6:</label>
    <span>{{element.prop6}}</span><br/>
    <label>ref6:</label>
    <span>{{element.ref6}}</span><br/>

    <label>prop7:</label>
    <span>{{element.prop7}}</span><br/>
    <label>ref7:</label>
    <span>{{element.ref7}}</span><br/>

    <label>prop8:</label>
    <span>{{element.prop8}}</span><br/>
    <label>ref8:</label>
    <span>{{element.ref8}}</span><br/>

    <label>prop9:</label>
    <span>{{element.prop9}}</span><br/>
    <label>ref9:</label>
    <span>{{element.ref9}}</span><br/>

    <label>prop10:</label>
    <span>{{element.prop10}}</span><br/>
    <label>ref10:</label>
    <span>{{element.ref10}}</span><br/>

    <label>language:</label>
    <span>{{element.language}}</span><br/>


    <a class="btn btn-default" href="/#/category/{{element.id}}/edit" role="button">Modifica</a>
</div>


<div ng-include="'/views/templates/footer.html'"></div>
