<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <div class="footer-btm">
                    <span>&copy;2015. Museo Pietraia dei Poeti</span> - <strong><i class="fa fa-envelope"></i>
                    Email: <a href="mailto:info@pietraiadeipoeti.it">info@pietraiadeipoeti.it</a><br/>
                    <span>Fondazione Pietraia dei Poeti - Via San Martino,28 - 63074 San Benedetto del Tronto - C.F. e P.IVA: 01910130440</span>
                </div>
            </div>
        </div>
    </div>
</footer>