<!--top bar end hidden in small devices-->
<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="ARTE INSIEME 2015"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <li ng-class="{active: $state.includes('home')}">
                    <a ui-sref="home" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                </li>
                <li>
                    <a href="http://pietraiadeipoeti.it/arte-insieme-2015/" target="_blank" class="dropdown-toggle">Arte
                        Insieme 2015</a>
                </li>
                <li>
                    <a href="http://pietraiadeipoeti.it" target="_blank" class="dropdown-toggle">Museo Pietraia dei
                        Poeti</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--container-->
</div>
<!--navbar-default-->