<div ng-include="'/views/templates/header.html'"
     ng-init="image='about-bg.jpg'; pageTitle ='about'; pageSubTitle = 'me'"></div>


<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>fiorenzo pizza</h1>

      <p>Fiorenzo Pizza is Senior Software Engineer at Ict-Group, where he currently works on developing systems for big
        enteprise customers.<br/>
        He is also the author of GiavaCMS, a content management system to create dynamic web sites using Java EE 6
        technologies cdi/ejb31 and jsf2, most of them currently run on the Openshift platform and JBoss 7 by Red Hat.<br/>
        He has a background as a researcher at the University of Bologna at the project S.W.I.M.M. "Multimodal
        Interactive Services for the Web" heavily using java EE technologies.<br/>
        His latest project is Twiliofaces, an open-source component library created to integrate Twilio services with
        Java EE 7 Technologies.
        <br/>
        <strong>contact me: fiorenzo.pizza@gmail.com or fiorenzino@gmail.com</strong></p>
    </div>
  </div>
</div>

<hr>


<div ng-include="'/views/templates/footer.html'"></div>
